@font-face {
    font-family: 'Racing Sans One';
    font-style: normal;
    font-weight: 400;
    src: local('Racing Sans One'), local('RacingSansOne-Regular'), url('../fonts/Racing-Sans-One.woff') format('woff');
}